@import "./styles/layout/app-shell.css";
@import "./styles/layout/sidebar.css";
@import "./styles/layout/tabs.css";
@import "./styles/pages/home-panel.css";
@import "./styles/pages/note-panel.css";
@import "./styles/pages/settings-panel.css";

:root {
    color-scheme: light dark;
    font-family: "SFMono-Regular", "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

html,
body,
#app {
    min-height: 100vh;
    margin: 0;
}

body {
    background: #dfe6df;
    font-size: 14px;
}

button,
textarea {
    font: inherit;
}

button {
    border: 0;
    background: none;
    color: inherit;
}

textarea {
    resize: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
